<!DOCTYPE html>
<html lang="en" xmlns:th="http://wwww.thymeleaf.org"
      xmlns:sec="org.thymeleaf.extras.springsecurity5.dialect.SpringSecurityDialect">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"/>
    <link rel="stylesheet" href="/css/custom.css"/>

    <title>Rests In Cluj</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand h1" href="#">RestsClujAPP</a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav ml-auto">
                <a class="nav-item nav-link active" href="/">Home</a>
                <a sec:authorize="isAuthenticated()" class="nav-item nav-link" href="/restaurant">Places to eat</a>
                <a  sec:authorize="isAuthenticated()" class="nav-item nav-link" href="/logout">Logout</a>

            </div>
        </div>
    </div>
</nav>

<div class="container mt-5">
    <div class="card text-white bg-dark mb-3">
        <div class="card-header">
            Add / Edit Restaurant
        </div>
        <div class="card-body">
            <form method="post" th:action="@{/restaurant/save}" th:object="${restaurant}">
                <div class="form-group">
                    <label for="name">Restaurant Name</label>
                    <input th:field="*{name}" type="text" class="form-control" id="name"
                           placeholder="Restaurant Name"/>
                </div>
                <div class="form-group">
                    <label for="address">Restaurant Address</label>
                    <input th:field="*{address}" type="text" class="form-control" id="address"
                           placeholder="Restaurant Address"/>
                </div>
                <div class="form-group">
                    <label for="capacity">Capacity</label>
                    <input th:field="*{capacity}" type="text" class="form-control" id="capacity"
                           placeholder="Capacity"/>
                </div>
                <div class="form-group">
                    <label for="type">Restaurant Type</label>
                    <input th:field="*{restType}" type="text" class="form-control" id="type"
                           placeholder="Restaurant Type"/>
                </div>
                <div class="form-group">
                    <label for="description">Description</label>
                    <input th:field="*{description}" type="text" class="form-control" id="description"
                           placeholder="Description"/>
                </div>

                <div th:if="${restaurant.id != null}">
                    <input th:field="*{id}" type="hidden" class="form-control" id="id" placeholder="Id"/>
                </div>


                <input class="btn btn-success" type="submit" value="Save"/>

                <a href="/restaurant">
                    <input class="btn btn-danger" type="button" value="Cancel"/>
                </a>
            </form>

    </div>
</div>
</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>