<!DOCTYPE html>
<html lang="en" xmlns:th="http://wwww.thymeleaf.org"
      xmlns:sec="org.thymeleaf.extras.springsecurity5.dialect.SpringSecurityDialect">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"/>
    <link rel="stylesheet" href="css/style.css"/>

    <title>RestInCluj</title>
</head>

<body id="bg-grad">
<nav class="navbar navbar-expand-lg navbar-dark">
    <div class="container">
        <button
                class="navbar-toggler"
                type="button"
                data-toggle="collapse"
                data-target="#navbar10"
        >
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse" id="navbar10">
            <a class="navbar-brand" href="/">
                <img src="/images/logo.png" id="logo" />
            </a>

            <ul class="navbar-nav nav-fill w-100">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/restaurant">Places to Eat</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/review">Reviews</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Top Rated</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">About Us</a>
                </li>
                <li class="nav-item">
                    <a
                            sec:authorize="!isAuthenticated()" href="/login"
                            class="mt-2 btn btn-lg orange-button"
                            role="button"
                    >SIGN IN</a>
                    <a
                            sec:authorize="isAuthenticated()" href="/logout"
                            class="mt-2 btn btn-lg orange-button"
                            role="button"
                    >LOG OUT</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container mt-5">
    <h1 class="text-center">Restaurant List</h1>
    <div class="text-center my-2">
        <a sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/restaurant/add}" class="btn orange-button bt-sm">
            Add Restaurant
        </a>
    </div>

    <div class="row mt-4">
        <div class="col-md-6 offset-md-3">
            <div class="card bg-dark mb-2" th:each="tempRestaurant: ${restaurants}">
                <div class="ml-auto px-1">
                    <a sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/restaurant/edit/{id} (id=${tempRestaurant.id})}">
                        <i class="fas fa-pen px-1 text-muted"></i>
                    </a>
                    <a sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/restaurant/delete/{id} (id=${tempRestaurant.id})}">
                        <i class="fas fa-times-circle px-1 text-muted"></i>
                    </a>
                </div>
                <div class="card-body text-center">
                    <h4 class="card-title" th:text="${tempRestaurant.name}"></h4>
                    <h6 class="card-subtitle text-muted orange-border p-2" th:text="${tempRestaurant.restType}"></h6>

                    <!--<p class="lead" th:text="${tempRestaurant.description}">-->
                    <p class="lead p-2 orange-border" th:text="${tempRestaurant.description}">
                    </p>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="card-subtitle text-muted p-2" th:text="'Address: ' + ${tempRestaurant.address}"></div>
                        </div>
                        <div class="col-md-6">
                            <div class="card-subtitle text-muted p-2" th:text="'Capacity: ' + ${tempRestaurant.capacity}"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>